body {
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', sans-serif !important;
    overflow-x: hidden;
    background-color: #f8f9fa;
  }
  
  .login {
    max-width: 500px;
    margin: 50px auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  #p {
    text-align: center;
    font-size: 3rem;
    color: #002046;
    margin-bottom: inherit;
  }
  
  /* מוודא שכל קבוצת שדה תהיה ברווח מסודר */
  form {
    display: flex;
    flex-direction: column;
  }
  
  #login-fields {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* רווח בין כל form-group */
  }
  
  /* עוטף כל שדה ומאפשר מרווחים גמישים */
  .form-group {
    width: 100%;
  }
  
  /* עיצוב אחיד לאינפוטים וכפתורים */
  .textBox {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 2.2rem;
    border-radius: 10px;
    border: none;
    background-color: #F1F7FF;
    color: #002046;
    box-sizing: border-box;
  }
  
  /* עיטוף לשדה הסיסמה כולל האייקון */
  .password-wrapper {
    position: relative;
  }
  
  /* איקון עין */
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #002046;
  }
  
  /* כפתור התחברות */
  #submit {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #F1F7FF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #002046;
  }
  
  .enter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  /* עיצוב כפתור התחברות עם גוגל */
  .google-login-wrapper {
    margin-top: 1rem;
  }
  
  #linkq {
    width: 100%;
    background-color: #F1F7FF;
    border: none;
    border-radius: 15px;
    padding: 0.8rem;
  }
  
  .custom-google-login-button {
    display: flex;
    justify-content: center;
  }
  
  .my-confirm-button {
    background-color: #00397C;
  }
  
  /* רספונסיביות */
  @media (max-width: 768px) {
    .login {
      margin: 20px;
      padding: 1.5rem;
    }
  
    #p {
      font-size: 1.5rem;
    }
  
    .textBox {
      font-size: 1rem;
      padding: 0.7rem;
    }
  
    #submit {
      font-size: 1rem;
    }
  
    .password-toggle-icon {
      right: 0.8rem;
    }
  
    .enter svg {
      width: 16px;
      height: 16px;
    }
  
    #linkq {
      padding: 0.7rem;
    }
  }
  