#username {
    top: 37.21%;
    bottom: 54.37%;

}

.textBox {
    position: absolute;
    width: 779px;
    left: calc(50% - 779px/2 + 0.5px);
    background: #F1F7FF;
    border-radius: 15px;
    font-family: 'tutorial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #002046;
}

input::placeholder::placeholder {
    position: absolute;
    width: 277px;
    height: 60px;
    left: calc(50% - 277px/2 + 235.5px);
    top: 378px;
   
}
#password {
    top: 48.23%;
    bottom: 43.35%;
}

#submit {
    left: calc(50% - 779px/2 + 5px);
    top: 59.46%;
    bottom: 32.12%;
}

.enter {
    /* v */
    position: absolute;
    width: 81px;
    height: 28px;
    left: calc(50% - 81px/2 + 20.5px);
    top: 27%;
    z-index: 2;
    font-family: 'tutorial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

}
#p {
    /* v */
    position: absolute;
    width: 446px;
    height: 60px;
    left: calc(50% - 446px/2);
    top: 150px;
    font-family: 'tutorial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #002046;
}
.ok {
    /* Vector v*/
    position: absolute;
    left: -40px;
    right: 50%;
    top: 50%;
    bottom: 33.26%;
    width: 50%;
    height: 50%;
    color: #002046;
}
#linkq {
    /* Rectangle 13 */
    position: absolute;
    width: 452px;
    left: calc(50% - 452px/2);
    top: 75.68%;
    bottom: 15.9%;
    background: #F1F7FF;
    border-radius: 15px;
}
#q {
    /* התחברות מהירה */
    position: absolute;
    width: 200px;
    height: 60px;
    left: calc(50% - 277px/2 - 41.5px);
    top: 5px;
    font-family: 'tutorial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 36px;
    text-align: right;
    color: #002046;
}
@import url('https://www.typotheque.com/webfonts/tutorial');
body { font-family: 'tutorial';
    border-radius: 15px;
    border: none;
    background-color: #ffffff
}