#username {
   

/* Rectangle 11 */

position: absolute;
width: 779px;
left: calc(50% - 779px/2 + 0.5px);
top: 37.21%;
bottom: 54.37%;

background: #F1F7FF;
border-radius: 15px;




}

.name {
   
   
/* שם משתמש: */

position: absolute;
width: 277px;
height: 60px;
left: calc(50% - 277px/2 + 235.5px);
top: 378px;

font-family: 'Ping HL';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: right;

color: #002046;




}

#password {
   

/* Rectangle 12 */

position: absolute;
width: 779px;
left: calc(50% - 779px/2 + 0.5px);
top: 48.23%;
bottom: 43.35%;

background: #F1F7FF;
border-radius: 15px;



}

 #submit{
  

 

box-sizing: border-box;

position: absolute;
width: 779px;
left: calc(50% - 779px/2 + 5px);
top: 59.46%;
bottom: 32.12%;






background: #F1F7FF;
border: 1px solid #002046;
border-radius: 15px;
z-index: 1;



} 
.enter{
/* כניסה */

position: absolute;
width: 81px;
height: 28px;
left: calc(50% - 81px/2 + 20.5px);
top: 27%;
z-index: 2;

font-family: 'Ping HL';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;




/* Group 1323 */




}
/* #p{ 
 width: 446px;
height: 60px;
top: 200px;
left: 767px;
/* gap: 0px;
opacity: 0px;
font-family: Ping HL;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
color: #002046;

} */
/* #logo{
     /* position: absolute;
left: 9.52%;
right: 86.64%;
top: 75.07%;
bottom:6.08%;   */
/* התחברות למערכת 

position: absolute;
width: 446px;
height: 60px;
left: calc(50% - 446px/2);
top: 250px;

font-family: 'Ping HL';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #002046;


} */
#p{
   /* התחברות למערכת */

position: absolute;
width: 446px;
height: 60px;
left: calc(50% - 446px/2);
top: 150px;

font-family: 'Ping HL';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #002046;




}
.pass{
    /* סיסמא: */

position: absolute;
width: 277px;
height: 60px;
left: calc(50% - 277px/2 + 235.5px);
top: 484px;

font-family: 'Ping HL';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: right;

color: #002046;


}

.ok{
    /* Vector */

position: absolute;
left:-40px;
right: 50%;
top: 50%;
bottom: 33.26%;
width: 50%;
height: 50%;
color: #002046;
/* transform: rotate(180deg); */

}
span{
    /* Group 1323 */

position: absolute;
width: 121px;
height: 28px;
left: calc(50% - 121px/2 + 0.5px);
top: 594px;


}
#en{
    /* Group 1323 */

position: absolute;
width: 121px;
height: 28px;
left: calc(50% - 121px/2 + 0.5px);
top: 5px;


}
#linkq{
    /* Rectangle 13 */

position: absolute;
width: 452px;
left: calc(50% - 452px/2);
top: 75.68%;
bottom: 15.9%;

background: #F1F7FF;
border-radius: 15px;

}
rect{
  
/* vNAdZcz7RVdIAAAAASUVORK5CYII= 1 */

position: absolute;
width: 20px;
height: 20px;
left: 1132px;
top: 54px;

background: url(vNAdZcz7RVdIAAAAASUVORK5CYII=.png);

/* 
position: absolute;
width: 20px;
height: 20px;
left: 1132px;
top: 54px;

background: url(vNAdZcz7RVdIAAAAASUVORK5CYII=.png); */


}
#qqq{
    /* position: absolute;
width: 10px;
height: 10px;
left: 1000px;
top:5%; */
margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;

background: url(c:\Users\user1\Downloads\google.512x512.png);

}
#q{
    /* התחברות מהירה */

position: absolute;
width: 200px;
height: 60px;
left: calc(50% - 277px/2 - 41.5px);
top: 5px;

font-family: 'Ping HL';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 36px;
text-align: right;

color: #002046;


}
body{
    border-radius: 15px;
}
